@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Outfit:wght@500;700;800&display=swap');
@import "tailwindcss";

@theme {
  /* Define our new custom fonts */
  --font-sans: 'Manrope', sans-serif;
  --font-display: 'Outfit', sans-serif;
  
  /* Define our custom background colors */
  --color-midnight: #080C16;
  --color-obsidian: #04060A;
}

body {
  background-color: var(--color-obsidian);
  color: #ffffff;
  /* Make Manrope the default for the whole app */
  font-family: var(--font-sans); 
}